.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .register-card {
    background-color: var(--primary-color);
    padding: 2rem;
    width: 400px;

    .register-title {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .register-actions {
      margin-top: 1rem;
      text-align: center;

      .register-button {
        width: 100%;
        background-color: rgb(3, 3, 3);
        color:white;

      }
    }

    .register-footer {
      margin-top: 1rem;
      text-align: center;

      .login-button {
        background-color: transparent;
        border: none !important;
        color: gray;
        text-decoration: underline;
        &:hover {
          color: #005bb5;
        }
      }
    }
  }
}
