.photo-snap-button {
  position: fixed;
  bottom: 8vh;  // 右下角位置
  right: 8vw;
  width: 15vw;   // 按钮宽度
  height: 15vw;  // 按钮高度
  background-color: #f38f00;  // 橙色背景
  border-radius: 50%;  // 圆形按钮
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);  // 按钮阴影
  z-index: 9999;
}

.icon {
  color: white;
}
