.detection-page{
  .header{
    justify-content: left;
  }
  .content{
    .report-info {
      .result-id {
        font-weight: 100;
      }
      margin-bottom: 4vh;
    }
    .acne-graph{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dry-skin-analysis{
      display: flex;
      flex-direction: column;
      align-items: center;
      .image{

      }
    }
  }
  .data-display-type-nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.data-block{
  .table{
    background-color: transparent;
    *{
      background-color: transparent;
    }
    .semi-table-colgroup {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .semi-table-row{
      *{
        background-color: transparent;
      }
      width: 100%;
      display: flex;
      align-items:center;
      justify-content: space-between;
      border-bottom: 1px black solid;
      *{
        border:none;
      }
    }
  }
}