.profile-page{
  .header{
    height: 6vh;
    display: flex;
    justify-content: space-between;
    .buttons{
      min-width: 50px;
      display: flex;
      justify-content: space-between;
    }
  }
  .content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    .user-name-and-avatar-and-email{
      display: flex;
      align-items: center;
      gap: 5vw;
      .text{
        .email{
          color: rgb(184, 184, 184);
          text-decoration: underline;
        }
      }
    }
    .skin-history-and-trend{
      display: flex;
      justify-content: space-between;
      .skin-trend,.skin-history{
        background-color: var(--sub-color);
        width: 45vw;
        word-break: break-all;
      }
    }
    .my-skin-info,.user-book,.faq{
      display: flex;
      align-items: center;
      word-break: break-all;
      background-color: var(--sub-color);
    }

    .user-book,.faq{
      min-height: 50px;
    }

    .my-skin-info{
      min-height: 150px;
    }
  }
  .footer{
    background-color: black;
  }
}