.history-page{
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2vh;
  }
  .footer{
    background-color: black;
  }
  .content{
    .no-data-container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .no-data{
        width: 20vw;
        height: 20vw;
      }
    }
    .history{
      .semi-list-items{
        display: flex;
        flex-direction: column-reverse;
        gap: 3vh;
        padding-bottom: 10vh;
      }
      .item{
        background-color: var(--sub-color);
        border-radius: 5vw;
        .avatar{
          width: 20vw;
          height:20vw;
          border-radius: 20px;
        }
        .info{
          height: 20vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
          .score{
            width: 50vw;
            display: flex;
            justify-content: flex-end;
            font-size: 5vw;
            font-weight: bolder;
            line-height: 100%;
          }
          .time{
            color:gray;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            font-size: 3vw;
            width: 50vw;

          }
        }
      }
    }
    .insights{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 5vh;
      .graph{
      }
    }
  }
}