.history-page{
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer{
    background-color: black;
  }
  .content{
    .history{
      .semi-list-items{
        display: flex;
        flex-direction: column;
        gap: 3vh;
      }
      .item{
        background-color: rgb(235,230,215);
        border-radius: 5vw;
        .avatar{
          width: 20vw;
          height:20vw
        }
        .info{
          height: 20vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
        }
      }
    }
    .insights{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .graph{
      }
    }
  }
}