.bottom-nav-bar{
  background-color: black;
  justify-self: center;
  width: 85vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  .nav-item{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg{
    color: white;
    width: 8vw;
    height: 80%;
  }
}